@using GCRBA.ViewModels
@model ProfileViewModel

<div class="row mt-2">
	<label for="locations" class="form-label">Choose Location:</label>
</div>
<div class="row">
	<select name="locations" class="form-control" required>
		@foreach (var item in Model.Locations)
		{
			<option value="@item.LocationID">@item.Address @item.City, @item.State @item.Zip</option>
		}
	</select>
</div>