<style>
	.center {
		margin-left: auto;
		margin-right: auto;
	}

	#content-locked {
		border: 1px solid gray;
		-webkit-border-radius: 0.3em;
		-moz-border-radius: 0.3em;
		border-radius: 0.3em;
		background-color: lightyellow;
		padding: 1em;
		margin-bottom: 1em;
	}

	td {
		text-align: left;
		padding: 10px 5px;
	}

	table {
		border: 1px solid;
	}

	#label {
		font-weight: bold;
	}
	#phone {
		width: 50px;
	}
</style>

@model GCRBA.Models.NewLocation

@{
	ViewBag.Title = "New Bakery Location Form";
}

<h2>@ViewBag.Title</h2>
<p>Please enter the information for the new bakery location</p>

@using (Html.BeginForm(FormMethod.Post)) {

	if (Model.ActionType == GCRBA.Models.NewLocation.ActionTypes.RequiredFieldsMissing) {
		<div id="content-locked" style="color: red">
			<i class="fad fa-exclamation-triangle fa-2x"></i>
			<span>All fields with <b>*</b> are required.</span>
		</div>
	}

	if (Model.ActionType == GCRBA.Models.NewLocation.ActionTypes.Unknown) {
		<div id="content-locked">
			<i class="fad fa-exclamation-triangle fa-2x"></i>
			<span>Field already exists!</span>
		</div>
	}


	<!--Business Loction Information-->
<div>
	<div class="some-spacing">
		<div id="label">@Html.LabelFor(model => model.lngCompanyID, "Existing Parent Company Name")*</div>
		<div>@Html.DropDownListFor(model => model.lngCompanyID, new SelectList(Model.lstCompanies, "intCompanyID", "strCompanyName", selectedValue: 0)) </div>
	</div>
	<p><strong>-OR-</strong></p>
	<div class="some-spacing">
		<div id="label">@Html.LabelFor(model => model.CompanyName, "New Parent Company Name")*</div>
		<div>@Html.TextBoxFor(model => model.CompanyName, new { @autofocus = "autofocus" })</div>
	</div>
	<br />
	<div class="some-spacing">
		<div id="label">@Html.LabelFor(model => model.LocationName, "Bakery Store Location Name")*</div>
		<div>@Html.TextBoxFor(model => model.LocationName)</div>
	</div>
	<div class="some-spacing">
		<div id="label">@Html.LabelFor(model => model.StreetAddress, "Street Address")*</div>
		<div>@Html.TextBoxFor(model => model.StreetAddress)</div>
	</div>
	<div class="some-spacing">
		<div id="label">@Html.LabelFor(model => model.City)*</div>
		<div>@Html.TextBoxFor(model => model.City)</div>
	</div>
	<div class="some-spacing">
		<div id="label">@Html.LabelFor(model => model.intState, "State")*</div>
		<div>@Html.DropDownListFor(model => model.intState, new SelectList(Model.lstStates, "intStateID", "strState")) </div>
	</div>
	<div class="some-spacing">
		<div id="label">@Html.LabelFor(model => model.Zip)*</div>
		<div>@Html.TextBoxFor(model => model.Zip)</div>
	</div>
</div>



	<br />

	<!--table for Bakery Specialty -->
	<div>
		<div class="some-spacing">
			<table class="center">
				<tr>
					<h5 id="label">Specialty Product Categories<b>*</b></h5>
				</tr>
				<tr>
					<td>
						@Html.CheckBoxFor(models => models.Donuts.blnAvailable)
					</td>
					<td>
						@Html.LabelFor(model => model.Donuts, "Donuts")
					</td>
					<td>
						@Html.CheckBoxFor(models => models.Bagels.blnAvailable)
					</td>
					<td>
						@Html.LabelFor(model => model.Bagels, "Bagels")
					</td>
					<td>
						@Html.CheckBoxFor(models => models.Muffins.blnAvailable)
					</td>
					<td>
						@Html.LabelFor(model => model.Muffins, "Muffins")
					</td>
					<td>
						@Html.CheckBoxFor(models => models.IceCream.blnAvailable)
					</td>
					<td>
						@Html.LabelFor(model => model.IceCream, "Ice Cream")
					</td>
					<td>
						@Html.CheckBoxFor(models => models.FineCandies.blnAvailable)
					</td>
					<td>
						@Html.LabelFor(model => model.FineCandies, "Fine Candies & Chocolates")
					</td>
					<td>
						@Html.CheckBoxFor(models => models.WeddingCakes.blnAvailable)
					</td>
					<td>
						@Html.LabelFor(model => model.WeddingCakes, "Wedding Cakes")
				</tr>
				<tr>
					<td>
						@Html.CheckBoxFor(models => models.Breads.blnAvailable)
					</td>
					<td>
						@Html.LabelFor(model => model.Breads, "Breads")
					</td>
					<td>
						@Html.CheckBoxFor(models => models.DecoratedCakes.blnAvailable)
					</td>
					<td>
						@Html.LabelFor(model => model.DecoratedCakes, "Decorated Cakes")
					</td>
					<td>
						@Html.CheckBoxFor(models => models.Cupcakes.blnAvailable)
					</td>
					<td>
						@Html.LabelFor(model => model.Cupcakes, "Cupcakes")
					</td>
					<td>
						@Html.CheckBoxFor(models => models.Cookies.blnAvailable)
					</td>
					<td>
						@Html.LabelFor(model => model.Cookies, "Cookies")
					</td>
					<td>
						@Html.CheckBoxFor(models => models.Desserts.blnAvailable)
					</td>
					<td>
						@Html.LabelFor(model => model.Desserts, "Desserts/Tortes")
					</td>
					<td>
						@Html.CheckBoxFor(models => models.Full.blnAvailable)
					</td>
					<td>
						@Html.LabelFor(model => model.Full, "Full-line Bakery")
					</td>
				</tr>
				<tr>
					<td>
						@Html.CheckBoxFor(models => models.Deli.blnAvailable)
					</td>
					<td>
						@Html.LabelFor(model => model.Deli, "Deli/Catering")
					</td>
					<td>
						@Html.CheckBoxFor(models => models.Other.blnAvailable)
					</td>
					<td>
						@Html.LabelFor(model => model.Other, "Other Deli Carryout")
					</td>
					<td>
						@Html.CheckBoxFor(models => models.Wholesale.blnAvailable)
					</td>
					<td>
						@Html.LabelFor(model => model.Wholesale, "Wholesale")
					</td>
					<td>
						@Html.CheckBoxFor(models => models.Delivery.blnAvailable)
					</td>
					<td>
						@Html.LabelFor(model => model.Delivery, "Delivery (3rd Party)")
					</td>
					<td>
						@Html.CheckBoxFor(models => models.Shipping.blnAvailable)
					</td>
					<td>
						@Html.LabelFor(model => model.Shipping, "Shipping")
					</td>
					<td>
						@Html.CheckBoxFor(models => models.Online.blnAvailable)
					</td>
					<td>
						@Html.LabelFor(model => model.Online, "Online Ordering")
					</td>
				</tr>
			</table>
		</div>
	</div>
	<br />

	<!-- table for Hours of Operation -->
	<div class="some-spacing">
		<table class="center">
			<tr>
				<h5 id="label">Hours of Operation*</h5>
			</tr>
			<tr style="text-align: center">

				<td><b>Days</b></td>
				<td style="text-align: center"><b>(Check if Open)</b></td>
				<td style="text-align: center"><b>Start Time</b></td>
				<td style="text-align: center"><b>End Time</b></td>
			</tr>
			<tr>
				<td>
					@Html.LabelFor(models => models.Sunday)
				</td>
				<td style="text-align: center">
					@Html.CheckBoxFor(models => models.Sunday.blnOperational)
				</td>
				<td>
					@Html.TextBoxFor(models => models.Sunday.strOpenTime, new { type = "time" })
				</td>
				<td>
					@Html.TextBoxFor(models => models.Sunday.strClosedTime, new { type = "time" })
				</td>
			</tr>
			<tr>
				<td>
					@Html.LabelFor(models => models.Monday)
				</td>
				<td style="text-align: center">
					@Html.CheckBoxFor(models => models.Monday.blnOperational)
				</td>
				<td>
					@Html.TextBoxFor(models => models.Monday.strOpenTime, new { type = "time" })
				</td>
				<td>
					@Html.TextBoxFor(models => models.Monday.strClosedTime, new { type = "time" })
				</td>
			</tr>
			<tr>
				<td>
					@Html.LabelFor(models => models.Tuesday)
				</td>
				<td style="text-align: center">
					@Html.CheckBoxFor(models => models.Tuesday.blnOperational)
				</td>
				<td>
					@Html.TextBoxFor(models => models.Tuesday.strOpenTime, new { type = "time" })
				</td>
				<td>
					@Html.TextBoxFor(models => models.Tuesday.strClosedTime, new { type = "time" })
				</td>
			</tr>
			<tr>
				<td>
					@Html.LabelFor(models => models.Wednesday)
				</td>
				<td style="text-align: center">
					@Html.CheckBoxFor(models => models.Wednesday.blnOperational)
				</td>
				<td>
					@Html.TextBoxFor(models => models.Wednesday.strOpenTime, new { type = "time" })
				</td>
				<td>
					@Html.TextBoxFor(models => models.Wednesday.strClosedTime, new { type = "time" })
				</td>
			</tr>
			<tr>
				<td>
					@Html.LabelFor(models => models.Thursday)
				</td>
				<td style="text-align: center">
					@Html.CheckBoxFor(models => models.Thursday.blnOperational)
				</td>
				<td>
					@Html.TextBoxFor(models => models.Thursday.strOpenTime, new { type = "time" })
				</td>
				<td>
					@Html.TextBoxFor(models => models.Thursday.strClosedTime, new { type = "time" })
				</td>
			</tr>
			<tr>
				<td>
					@Html.LabelFor(models => models.Friday)
				</td>
				<td style="text-align: center">
					@Html.CheckBoxFor(models => models.Friday.blnOperational)
				</td>
				<td>
					@Html.TextBoxFor(models => models.Friday.strOpenTime, new { type = "time" })
				</td>
				<td>
					@Html.TextBoxFor(models => models.Friday.strClosedTime, new { type = "time" })
				</td>
			</tr>
			<tr>
				<td>
					@Html.LabelFor(models => models.Saturday)
				</td>
				<td style="text-align: center">
					@Html.CheckBoxFor(models => models.Saturday.blnOperational)
				</td>
				<td>
					@Html.TextBoxFor(models => models.Saturday.strOpenTime, new { type = "time" })
				</td>
				<td>
					@Html.TextBoxFor(models => models.Saturday.strClosedTime, new { type = "time" })
				</td>
			</tr>
		</table>
	</div>
	<br />
	
	<!--Business Contact Information-->
	<div>
		<div class="some-spacing">
			<div id="label"><label for="BusinessPhone_AreaCode">Business Phone Number</label></div>
			(@Html.TextBoxFor(m => Model.BusinessPhone.AreaCode, new { Style="width: 50px" })) @Html.TextBoxFor(m => Model.BusinessPhone.Prefix, new { Style = "width: 50px" })-@Html.TextBoxFor(m => Model.BusinessPhone.Suffix, new { Style = "width: 50px" })
		</div>

		<div class="some-spacing">
			<div id="label">@Html.LabelFor(model => model.BusinessEmail, "Business Email")</div>
			<div>@Html.TextBoxFor(model => model.BusinessEmail)</div>
		</div>
	</div>
	<div>
		<div class="some-spacing">
			<div id="label">@Html.LabelFor(model => model.BizYear, "Year Established:")</div>
			@Html.TextBoxFor(model => model.BizYear)
		</div>

		<div class="some-spacing">
			<div id="label">@Html.LabelFor(model => model.Bio, "About us:")</div>
			<div>@Html.TextAreaFor(model => model.Bio, new { @spellcheck = "true", rows = "5", style = "width: 500px;" })</div>
		</div>
	</div>
	<br />

	<!--Contact Person Information-->
	<div>
		<div class="some-spacing">
			<div id="label">@Html.LabelFor(m => Model.LocationContact.strContactFirstName, "Contact First Name")</div>
			<div>@Html.TextBoxFor(m => Model.LocationContact.strContactFirstName, new { @autofocus = "autofocus" })</div>
		</div>

		<div class="some-spacing">
			<div id="label">@Html.LabelFor(m => Model.LocationContact.strContactLastName, "Contact Last Name")</div>
			<div>@Html.TextBoxFor(m => Model.LocationContact.strContactLastName)</div>
		</div>

		<div class="some-spacing">
			<div id="label"><label for="ContactPhone_AreaCode">Contact Phone Number</label></div>
			<div>
				(@Html.TextBoxFor(m => Model.LocationContact.contactPhone.AreaCode, new { Style = "width: 50px" })) @Html.TextBoxFor(m => Model.LocationContact.contactPhone.Prefix, new { Style = "width: 50px" })-@Html.TextBoxFor(m => Model.LocationContact.contactPhone.Suffix, new { Style = "width: 50px" })
			</div>
		</div>

		<div class="some-spacing">
			<div id="label">@Html.LabelFor(m => Model.LocationContact.strContactEmail, "Contact Email")</div>
			<div>@Html.TextBoxFor(m => Model.LocationContact.strContactEmail)</div>
		</div>
	</div>

	<br />
	<!--Customer Service Person Information-->
	<div>
		<div class="some-spacing">
			<div id="label">@Html.LabelFor(m => Model.CustService.strContactFirstName, "Customer Service First Name")</div>
			<div>@Html.TextBoxFor(m => Model.CustService.strContactFirstName, new { @autofocus = "autofocus" })</div>
		</div>

		<div class="some-spacing">
			<div id="label">@Html.LabelFor(m => Model.CustService.strContactLastName, "Customer Service Last Name")</div>
			<div>@Html.TextBoxFor(m => Model.CustService.strContactLastName)</div>
		</div>

		<div class="some-spacing">
			<div id="label"><label for="ContactPhone_AreaCode">Customer Service Phone Number</label></div>
			<div>
				(@Html.TextBoxFor(m => Model.CustService.contactPhone.AreaCode, new { Style = "width: 50px" })) @Html.TextBoxFor(m => Model.CustService.contactPhone.Prefix, new { Style = "width: 50px" }) - @Html.TextBoxFor(m => Model.CustService.contactPhone.Suffix, new { Style = "width: 50px" })
			</div>
		</div>

		<div class="some-spacing">
			<div id="label">@Html.LabelFor(m => Model.CustService.strContactEmail, "Customer Service Email")</div>
			<div>@Html.TextBoxFor(m => Model.CustService.strContactEmail)</div>
		</div>
	</div>
	<br />

	<!--Website Information-->
	<div>
		<div class="some-spacing">
			<div id="label">@Html.LabelFor(model => model.MainWeb, "Main Website URL")</div>
			<div>@Html.TextBoxFor(model => model.MainWeb.strURL)</div>
		</div>

		<div class="some-spacing">
			<div id="label">@Html.LabelFor(model => model.OrderingWeb, "Ordering Webpage URL") </div>
			<div>@Html.TextBoxFor(model => model.OrderingWeb.strURL) </div>
		</div>

		<div class="some-spacing">
			<div id="label">@Html.LabelFor(model => model.KettleWeb, "Donation Kettle URL") </div>
			<div>@Html.TextBoxFor(model => model.KettleWeb.strURL) </div>
		</div>
	</div>
	<br />

	<!--Web Admin Contact Information-->
	<div>
		<div class="some-spacing">
			<div id="label">@Html.LabelFor(m => Model.WebAdmin.strContactFirstName, "Web Admin First Name")</div>
			<div>@Html.TextBoxFor(m => Model.WebAdmin.strContactFirstName, new { @autofocus = "autofocus" })</div>
		</div>

		<div class="some-spacing">
			<div id="label">@Html.LabelFor(m => Model.WebAdmin.strContactLastName, "Web Admin Last Name")</div>
			<div>@Html.TextBoxFor(m => Model.WebAdmin.strContactLastName)</div>
		</div>

		<div class="some-spacing">
			<div id="label"><label for="ContactPhone_AreaCode">Web Admin Phone Number</label></div>
			<div>
				(@Html.TextBoxFor(m => Model.WebAdmin.contactPhone.AreaCode, new { @class = "phone-area-code" })) @Html.TextBoxFor(m => Model.WebAdmin.contactPhone.Prefix, new { @class = "phone-prefix" })-@Html.TextBoxFor(m => Model.WebAdmin.contactPhone.Suffix, new { @class = "phone-suffix" })
			</div>
		</div>

		<div class="some-spacing">
			<div id="label">@Html.LabelFor(m => Model.WebAdmin.strContactEmail, "Web Admin Email")</div>
			<div>@Html.TextBoxFor(m => Model.WebAdmin.strContactEmail)</div>
		</div>
	</div>

	<br />
	<!--table for Social Media-->
	<div class="some-spacing">
		<table class="center">
			<tr>
				<h5><strong>Social Media Outlets</strong></h5>
			</tr>
			<tr>
				<td><b>Platform</b></td>
				<td>
					<b>(Check to Include)</b>
				</td>
				<td style="text-align: center"><b>Link</b></td>
			</tr>
			<tr>
				<td>
					@Html.LabelFor(models => models.Facebook)
				</td>
				<td style="text-align: center">
					@Html.CheckBoxFor(models => models.Facebook.blnAvailable)
				</td>
				<td>
					<label>URL:</label>
					@Html.TextBoxFor(models => models.Facebook.strSocialMediaLink)
				</td>
			</tr>
			<tr>
				<td>
					@Html.LabelFor(models => models.Twitter)
				</td>
				<td style="text-align: center">
					@Html.CheckBoxFor(models => models.Twitter.blnAvailable)
				</td>
				<td>
					<label>URL:</label>
					@Html.TextBoxFor(models => models.Twitter.strSocialMediaLink)
				</td>
			</tr>
			<tr>
				<td>
					@Html.LabelFor(models => models.Instagram)
				</td>
				<td style="text-align: center">
					@Html.CheckBoxFor(models => models.Instagram.blnAvailable)
				</td>
				<td>
					<label>URL:</label>
					@Html.TextBoxFor(models => models.Instagram.strSocialMediaLink)
				</td>
			</tr>
			<tr>
				<td>
					@Html.LabelFor(models => models.Snapchat)
				</td>
				<td style="text-align: center">
					@Html.CheckBoxFor(models => models.Snapchat.blnAvailable)
				</td>
				<td>
					<label>URL:</label>
					@Html.TextBoxFor(models => models.Snapchat.strSocialMediaLink)
				</td>
			</tr>
			<tr>
				<td>
					@Html.LabelFor(models => models.TikTok)
				</td>
				<td style="text-align: center">
					@Html.CheckBoxFor(models => models.TikTok.blnAvailable)
				</td>
				<td>
					<label>URL:</label>
					@Html.TextBoxFor(models => models.TikTok.strSocialMediaLink)
				</td>
			</tr>
			<tr>
				<td>
					@Html.LabelFor(models => models.Yelp)
				</td>
				<td style="text-align: center">
					@Html.CheckBoxFor(models => models.Yelp.blnAvailable)
				</td>
				<td>
					<label>URL:</label>
					@Html.TextBoxFor(models => models.Yelp.strSocialMediaLink)
				</td>
			</tr>
		</table>
	</div>

	<br />

	<br />
	<div>
		<div class="some-spacing">
			<button class="button-action" id="btnAddLocation" name="btnSubmit" value="NewLocation">Enter New Location</button>
		</div>
	</div>
}

