<style>
	.center {
		margin-left: auto;
		margin-right: auto;
	}

	#content-locked {
		border: 1px solid gray;
		-webkit-border-radius: 0.3em;
		-moz-border-radius: 0.3em;
		border-radius: 0.3em;
		background-color: lightyellow;
		padding: 1em;
		margin-bottom: 1em;
	}

	td {
		text-align: center;
		padding: 10px 5px;
	}

	table {
		border: 1px solid;
	}

	#label {
		font-weight: bold;
	}

	#phone {
		width: 50px;
	}
</style>

@model GCRBA.Models.LocationList

@using (Html.BeginForm(FormMethod.Post)) {
	int index = 0;
	GCRBA.Models.User u = new GCRBA.Models.User();
	u = u.GetUserSession();
	if (!u.IsAuthenticated) {
		<div id="content-locked">
			<i class="fad fa-exclamation-triangle fa-2x"></i>
			<span>Please login to enter a new location.</span>
		</div>
	}

	{
		ViewBag.Title = "New Bakery Location Form";
	}



	<h2>@ViewBag.Title</h2>
	<p>Please enter the information for the new bakery location(s)</p>



	if (Model.lstLocations[index].ActionType == GCRBA.Models.NewLocation.ActionTypes.RequiredFieldsMissing) {
		<div id="content-locked" style="color: red">
			<i class="fad fa-exclamation-triangle fa-2x"></i>
			<span>All fields with <b>*</b> are required.</span>
		</div>
	}

	if (Model.lstLocations[index].ActionType == GCRBA.Models.NewLocation.ActionTypes.Unknown) {
		<div id="content-locked">
			<i class="fad fa-exclamation-triangle fa-2x"></i>
			<span>Field already exists!</span>
		</div>
	}

	<div class="mainTable">
		<table class="center" id="lstLocations-table">
			<tr>
				<td>
					<div>
						<div id="label">@Html.LabelFor(model => model.lstLocations[index].lngCompanyID, "Existing Parent Company Name")*</div>
						<div>@Html.DropDownListFor(model => model.lstLocations[index].lngCompanyID, new SelectList(Model.lstLocations[index].lstCompanies, "CompanyID", "Name", selectedValue: 0))</div>
					</div>
				</td>
			</tr>
			<tr>
				<td style="text-align: center">
					<p><strong>-OR-</strong></p>
				</td>
			</tr>
			<tr>
				<td>
					<div>
						<div id="label">@Html.LabelFor(model => model.lstLocations[index].CompanyName, "New Parent Company Name")*</div>
						<div>@Html.TextBoxFor(model => model.lstLocations[index].CompanyName, new { @autofocus = "autofocus" })</div>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div>
						<div id="label">@Html.LabelFor(model => model.lstLocations[index].LocationName, "Bakery Store Location Name")*</div>
						<div>@Html.TextBoxFor(model => model.lstLocations[index].LocationName)</div>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div>
						<div id="label">@Html.LabelFor(model => model.lstLocations[index].StreetAddress, "Street Address")*</div>
						<div>@Html.TextBoxFor(model => model.lstLocations[index].StreetAddress)</div>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div>
						<div id="label">@Html.LabelFor(model => model.lstLocations[index].City)*</div>
						<div>@Html.TextBoxFor(model => model.lstLocations[index].City)</div>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div>
						<div id="label">@Html.LabelFor(model => model.lstLocations[index].intState, "State")*</div>
						<div>@Html.DropDownListFor(model => model.lstLocations[index].intState, new SelectList(Model.lstLocations[index].lstStates, "intStateID", "strState")) </div>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div>
						<div id="label">@Html.LabelFor(model => model.lstLocations[index].Zip)*</div>
						<div>@Html.TextBoxFor(model => model.lstLocations[index].Zip)</div>
					</div>
					<br />
				</td>
			</tr>
			<tr>
				<td>
					<div class="some-spacing">
						<div>
							<!--table for Bakery Specialty -->
							<h5 id="label">Specialty Product Categories<b>*</b></h5>
							<table class="center">
								<tr>
									<td>
										@Html.CheckBoxFor(model => model.lstLocations[index].Donuts.blnAvailable)
									</td>
									<td>
										@Html.LabelFor(model => model.lstLocations[index].Donuts, "Donuts")
									</td>
									<td>
										@Html.CheckBoxFor(model => model.lstLocations[index].Bagels.blnAvailable)
									</td>
									<td>
										@Html.LabelFor(model => model.lstLocations[index].Bagels, "Bagels")
									</td>
									<td>
										@Html.CheckBoxFor(model => model.lstLocations[index].Muffins.blnAvailable)
									</td>
									<td>
										@Html.LabelFor(model => model.lstLocations[index].Muffins, "Muffins")
									</td>
									<td>
										@Html.CheckBoxFor(model => model.lstLocations[index].IceCream.blnAvailable)
									</td>
									<td>
										@Html.LabelFor(model => model.lstLocations[index].IceCream, "Ice Cream")
									</td>
									<td>
										@Html.CheckBoxFor(model => model.lstLocations[index].FineCandies.blnAvailable)
									</td>
									<td>
										@Html.LabelFor(model => model.lstLocations[index].FineCandies, "Fine Candies & Chocolates")
									</td>
									<td>
										@Html.CheckBoxFor(model => model.lstLocations[index].WeddingCakes.blnAvailable)
									</td>
									<td>
										@Html.LabelFor(model => model.lstLocations[index].WeddingCakes, "Wedding Cakes")
								</tr>
								<tr>
									<td>
										@Html.CheckBoxFor(model => model.lstLocations[index].Breads.blnAvailable)
									</td>
									<td>
										@Html.LabelFor(model => model.lstLocations[index].Breads, "Breads")
									</td>
									<td>
										@Html.CheckBoxFor(model => model.lstLocations[index].DecoratedCakes.blnAvailable)
									</td>
									<td>
										@Html.LabelFor(model => model.lstLocations[index].DecoratedCakes, "Decorated Cakes")
									</td>
									<td>
										@Html.CheckBoxFor(model => model.lstLocations[index].Cupcakes.blnAvailable)
									</td>
									<td>
										@Html.LabelFor(model => model.lstLocations[index].Cupcakes, "Cupcakes")
									</td>
									<td>
										@Html.CheckBoxFor(model => model.lstLocations[index].Cookies.blnAvailable)
									</td>
									<td>
										@Html.LabelFor(model => model.lstLocations[index].Cookies, "Cookies")
									</td>
									<td>
										@Html.CheckBoxFor(model => model.lstLocations[index].Desserts.blnAvailable)
									</td>
									<td>
										@Html.LabelFor(model => model.lstLocations[index].Desserts, "Desserts/Tortes")
									</td>
									<td>
										@Html.CheckBoxFor(model => model.lstLocations[index].Full.blnAvailable)
									</td>
									<td>
										@Html.LabelFor(model => model.lstLocations[index].Full, "Full-line Bakery")
									</td>
								</tr>
								<tr>
									<td>
										@Html.CheckBoxFor(model => model.lstLocations[index].Deli.blnAvailable)
									</td>
									<td>
										@Html.LabelFor(model => model.lstLocations[index].Deli, "Deli/Catering")
									</td>
									<td>
										@Html.CheckBoxFor(model => model.lstLocations[index].Other.blnAvailable)
									</td>
									<td>
										@Html.LabelFor(model => model.lstLocations[index].Other, "Other Deli Carryout")
									</td>
									<td>
										@Html.CheckBoxFor(model => model.lstLocations[index].Wholesale.blnAvailable)
									</td>
									<td>
										@Html.LabelFor(model => model.lstLocations[index].Wholesale, "Wholesale")
									</td>
									<td>
										@Html.CheckBoxFor(model => model.lstLocations[index].Delivery.blnAvailable)
									</td>
									<td>
										@Html.LabelFor(model => model.lstLocations[index].Delivery, "Delivery (3rd Party)")
									</td>
									<td>
										@Html.CheckBoxFor(model => model.lstLocations[index].Shipping.blnAvailable)
									</td>
									<td>
										@Html.LabelFor(model => model.lstLocations[index].Shipping, "Shipping")
									</td>
									<td>
										@Html.CheckBoxFor(model => model.lstLocations[index].Online.blnAvailable)
									</td>
									<td>
										@Html.LabelFor(model => model.lstLocations[index].Online, "Online Ordering")
									</td>
								</tr>
							</table>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="some-spacing">
						<!-- table for Hours of Operation -->
						<h5 id="label">Hours of Operation*</h5>
						<table class="center">
							<tr style="text-align: center">
								<td><b>Days</b></td>
								<td style="text-align: center"><b>(Check if Open)</b></td>
								<td style="text-align: center"><b>Start Time</b></td>
								<td style="text-align: center"><b>End Time</b></td>
							</tr>
							<tr>
								<td>
									@Html.LabelFor(model => model.lstLocations[index].Sunday)
								</td>
								<td style="text-align: center">
									@Html.CheckBoxFor(model => model.lstLocations[index].Sunday.blnOperational)
								</td>
								<td>
									@Html.TextBoxFor(model => model.lstLocations[index].Sunday.strOpenTime, new { type = "time" })
								</td>
								<td>
									@Html.TextBoxFor(model => model.lstLocations[index].Sunday.strClosedTime, new { type = "time" })
								</td>
							</tr>
							<tr>
								<td>
									@Html.LabelFor(model => model.lstLocations[index].Monday)
								</td>
								<td style="text-align: center">
									@Html.CheckBoxFor(model => model.lstLocations[index].Monday.blnOperational)
								</td>
								<td>
									@Html.TextBoxFor(model => model.lstLocations[index].Monday.strOpenTime, new { type = "time" })
								</td>
								<td>
									@Html.TextBoxFor(model => model.lstLocations[index].Monday.strClosedTime, new { type = "time" })
								</td>
							</tr>
							<tr>
								<td>
									@Html.LabelFor(model => model.lstLocations[index].Tuesday)
								</td>
								<td style="text-align: center">
									@Html.CheckBoxFor(model => model.lstLocations[index].Tuesday.blnOperational)
								</td>
								<td>
									@Html.TextBoxFor(model => model.lstLocations[index].Tuesday.strOpenTime, new { type = "time" })
								</td>
								<td>
									@Html.TextBoxFor(model => model.lstLocations[index].Tuesday.strClosedTime, new { type = "time" })
								</td>
							</tr>
							<tr>
								<td>
									@Html.LabelFor(model => model.lstLocations[index].Wednesday)
								</td>
								<td style="text-align: center">
									@Html.CheckBoxFor(model => model.lstLocations[index].Wednesday.blnOperational)
								</td>
								<td>
									@Html.TextBoxFor(model => model.lstLocations[index].Wednesday.strOpenTime, new { type = "time" })
								</td>
								<td>
									@Html.TextBoxFor(model => model.lstLocations[index].Wednesday.strClosedTime, new { type = "time" })
								</td>
							</tr>
							<tr>
								<td>
									@Html.LabelFor(model => model.lstLocations[index].Thursday)
								</td>
								<td style="text-align: center">
									@Html.CheckBoxFor(model => model.lstLocations[index].Thursday.blnOperational)
								</td>
								<td>
									@Html.TextBoxFor(model => model.lstLocations[index].Thursday.strOpenTime, new { type = "time" })
								</td>
								<td>
									@Html.TextBoxFor(model => model.lstLocations[index].Thursday.strClosedTime, new { type = "time" })
								</td>
							</tr>
							<tr>
								<td>
									@Html.LabelFor(model => model.lstLocations[index].Friday)
								</td>
								<td style="text-align: center">
									@Html.CheckBoxFor(model => model.lstLocations[index].Friday.blnOperational)
								</td>
								<td>
									@Html.TextBoxFor(model => model.lstLocations[index].Friday.strOpenTime, new { type = "time" })
								</td>
								<td>
									@Html.TextBoxFor(model => model.lstLocations[index].Friday.strClosedTime, new { type = "time" })
								</td>
							</tr>
							<tr>
								<td>
									@Html.LabelFor(model => model.lstLocations[index].Saturday)
								</td>
								<td style="text-align: center">
									@Html.CheckBoxFor(model => model.lstLocations[index].Saturday.blnOperational)
								</td>
								<td>
									@Html.TextBoxFor(model => model.lstLocations[index].Saturday.strOpenTime, new { type = "time" })
								</td>
								<td>
									@Html.TextBoxFor(model => model.lstLocations[index].Saturday.strClosedTime, new { type = "time" })
								</td>
							</tr>
						</table>
					</div>
				</td>
			</tr>
			<!--Business Contact Information-->
			<tr>
				<td>
					<div>
						<div>
							<div id="label"><label for="BusinessPhone_AreaCode">Business Phone Number</label></div>
							(@Html.TextBoxFor(m => Model.lstLocations[index].BusinessPhone.AreaCode, new { Style = "width: 50px" })) @Html.TextBoxFor(m => Model.lstLocations[index].BusinessPhone.Prefix, new { Style = "width: 50px" })-@Html.TextBoxFor(m => Model.lstLocations[index].BusinessPhone.Suffix, new { Style = "width: 50px" })
						</div>

						<div>
							<div id="label">@Html.LabelFor(model => model.lstLocations[index].BusinessEmail, "Business Email")</div>
							<div>@Html.TextBoxFor(model => model.lstLocations[index].BusinessEmail)</div>
						</div>
					</div>
				</td>
			</tr>
			@if (u.isMember > 0) {
			<tr>
				<td>
					<div>
						<div class="some-spacing">
							<div id="label">@Html.LabelFor(model => model.lstLocations[index].BizYear, "Year Established:")</div>
							@Html.TextBoxFor(model => model.lstLocations[index].BizYear)
						</div>

						<div class="some-spacing">
							<div id="label">@Html.LabelFor(model => model.lstLocations[index].Bio, "About us:")</div>
							<div>@Html.TextAreaFor(model => model.lstLocations[index].Bio, new { @spellcheck = "true", rows = "5", style = "width: 500px;" })</div>
						</div>
					</div>
				</td>
			</tr>
			<!--Contact Person Information-->
			<tr>
				<td>
					<div>
						<div class="some-spacing">
							<div id="label">@Html.LabelFor(m => Model.lstLocations[index].LocationContact.strContactFirstName, "Contact First Name")</div>
							<div>@Html.TextBoxFor(m => Model.lstLocations[index].LocationContact.strContactFirstName, new { @autofocus = "autofocus" })</div>
						</div>

						<div class="some-spacing">
							<div id="label">@Html.LabelFor(m => Model.lstLocations[index].LocationContact.strContactLastName, "Contact Last Name")</div>
							<div>@Html.TextBoxFor(m => Model.lstLocations[index].LocationContact.strContactLastName)</div>
						</div>

						<div class="some-spacing">
							<div id="label"><label for="ContactPhone_AreaCode">Contact Phone Number</label></div>
							<div>
								(@Html.TextBoxFor(m => Model.lstLocations[index].LocationContact.contactPhone.AreaCode, new { Style = "width: 50px" })) @Html.TextBoxFor(m => Model.lstLocations[index].LocationContact.contactPhone.Prefix, new { Style = "width: 50px" })-@Html.TextBoxFor(m => Model.lstLocations[index].LocationContact.contactPhone.Suffix, new { Style = "width: 50px" })
							</div>
						</div>

						<div class="some-spacing">
							<div id="label">@Html.LabelFor(m => Model.lstLocations[index].LocationContact.strContactEmail, "Contact Email")</div>
							<div>@Html.TextBoxFor(m => Model.lstLocations[index].LocationContact.strContactEmail)</div>
						</div>
					</div>
				</td>
			</tr>
			<!--Customer Service Person Information-->
			<tr>
				<td>
					<div>
						<div class="some-spacing">
							<div id="label">@Html.LabelFor(m => Model.lstLocations[index].CustService.strContactFirstName, "Customer Service First Name")</div>
							<div>@Html.TextBoxFor(m => Model.lstLocations[index].CustService.strContactFirstName, new { @autofocus = "autofocus" })</div>
						</div>

						<div class="some-spacing">
							<div id="label">@Html.LabelFor(m => Model.lstLocations[index].CustService.strContactLastName, "Customer Service Last Name")</div>
							<div>@Html.TextBoxFor(m => Model.lstLocations[index].CustService.strContactLastName)</div>
						</div>

						<div class="some-spacing">
							<div id="label"><label for="ContactPhone_AreaCode">Customer Service Phone Number</label></div>
							<div>
								(@Html.TextBoxFor(m => Model.lstLocations[index].CustService.contactPhone.AreaCode, new { Style = "width: 50px" })) @Html.TextBoxFor(m => Model.lstLocations[index].CustService.contactPhone.Prefix, new { Style = "width: 50px" }) - @Html.TextBoxFor(m => Model.lstLocations[index].CustService.contactPhone.Suffix, new { Style = "width: 50px" })
							</div>
						</div>

						<div class="some-spacing">
							<div id="label">@Html.LabelFor(m => Model.lstLocations[index].CustService.strContactEmail, "Customer Service Email")</div>
							<div>@Html.TextBoxFor(m => Model.lstLocations[index].CustService.strContactEmail)</div>
						</div>
					</div>
				</td>
			</tr>
			<!--Website Information-->
			<tr>
				<td>
					<div>
						<div class="some-spacing">
							<div id="label">@Html.LabelFor(model => model.lstLocations[index].MainWeb, "Main Website URL")</div>
							<div>@Html.TextBoxFor(model => model.lstLocations[index].MainWeb.strURL)</div>
						</div>

						<div class="some-spacing">
							<div id="label">@Html.LabelFor(model => model.lstLocations[index].OrderingWeb, "Ordering Webpage URL") </div>
							<div>@Html.TextBoxFor(model => model.lstLocations[index].OrderingWeb.strURL) </div>
						</div>

						<div class="some-spacing">
							<div id="label">@Html.LabelFor(model => model.lstLocations[index].KettleWeb, "Donation Kettle URL") </div>
							<div>@Html.TextBoxFor(model => model.lstLocations[index].KettleWeb.strURL) </div>
						</div>
					</div>
				</td>
			</tr>
			<!--Web Admin Contact Information-->
			<tr>
				<td>
					<div>
						<div class="some-spacing">
							<div id="label">@Html.LabelFor(m => Model.lstLocations[index].WebAdmin.strContactFirstName, "Web Admin First Name")</div>
							<div>@Html.TextBoxFor(m => Model.lstLocations[index].WebAdmin.strContactFirstName, new { @autofocus = "autofocus" })</div>
						</div>

						<div class="some-spacing">
							<div id="label">@Html.LabelFor(m => Model.lstLocations[index].WebAdmin.strContactLastName, "Web Admin Last Name")</div>
							<div>@Html.TextBoxFor(m => Model.lstLocations[index].WebAdmin.strContactLastName)</div>
						</div>

						<div class="some-spacing">
							<div id="label"><label for="ContactPhone_AreaCode">Web Admin Phone Number</label></div>
							<div>
								(@Html.TextBoxFor(m => Model.lstLocations[index].WebAdmin.contactPhone.AreaCode, new { @class = "phone-area-code" })) @Html.TextBoxFor(m => Model.lstLocations[index].WebAdmin.contactPhone.Prefix, new { @class = "phone-prefix" })-@Html.TextBoxFor(m => Model.lstLocations[index].WebAdmin.contactPhone.Suffix, new { @class = "phone-suffix" })
							</div>
						</div>

						<div class="some-spacing">
							<div id="label">@Html.LabelFor(m => Model.lstLocations[index].WebAdmin.strContactEmail, "Web Admin Email")</div>
							<div>@Html.TextBoxFor(m => Model.lstLocations[index].WebAdmin.strContactEmail)</div>
						</div>
					</div>
				</td>
			</tr>
			<!--table for Social Media-->
			<tr>
				<td>
					<div class="some-spacing">
						<table class="center">
							<tr>
								<h5><strong>Social Media Outlets</strong></h5>
							</tr>
							<tr>
								<td><b>Platform</b></td>
								<td>
									<b>(Check to Include)</b>
								</td>
								<td style="text-align: center"><b>Link</b></td>
							</tr>
							<tr>
								<td>
									@Html.LabelFor(model => model.lstLocations[index].Facebook)
								</td>
								<td style="text-align: center">
									@Html.CheckBoxFor(model => model.lstLocations[index].Facebook.blnAvailable)
								</td>
								<td>
									<label>URL:</label>
									@Html.TextBoxFor(model => model.lstLocations[index].Facebook.strSocialMediaLink)
								</td>
							</tr>
							<tr>
								<td>
									@Html.LabelFor(model => model.lstLocations[index].Twitter)
								</td>
								<td style="text-align: center">
									@Html.CheckBoxFor(model => model.lstLocations[index].Twitter.blnAvailable)
								</td>
								<td>
									<label>URL:</label>
									@Html.TextBoxFor(model => model.lstLocations[index].Twitter.strSocialMediaLink)
								</td>
							</tr>
							<tr>
								<td>
									@Html.LabelFor(model => model.lstLocations[index].Instagram)
								</td>
								<td style="text-align: center">
									@Html.CheckBoxFor(model => model.lstLocations[index].Instagram.blnAvailable)
								</td>
								<td>
									<label>URL:</label>
									@Html.TextBoxFor(model => model.lstLocations[index].Instagram.strSocialMediaLink)
								</td>
							</tr>
							<tr>
								<td>
									@Html.LabelFor(model => model.lstLocations[index].Snapchat)
								</td>
								<td style="text-align: center">
									@Html.CheckBoxFor(model => model.lstLocations[index].Snapchat.blnAvailable)
								</td>
								<td>
									<label>URL:</label>
									@Html.TextBoxFor(model => model.lstLocations[index].Snapchat.strSocialMediaLink)
								</td>
							</tr>
							<tr>
								<td>
									@Html.LabelFor(model => model.lstLocations[index].TikTok)
								</td>
								<td style="text-align: center">
									@Html.CheckBoxFor(model => model.lstLocations[index].TikTok.blnAvailable)
								</td>
								<td>
									<label>URL:</label>
									@Html.TextBoxFor(model => model.lstLocations[index].TikTok.strSocialMediaLink)
								</td>
							</tr>
							<tr>
								<td>
									@Html.LabelFor(model => model.lstLocations[index].Yelp)
								</td>
								<td style="text-align: center">
									@Html.CheckBoxFor(model => model.lstLocations[index].Yelp.blnAvailable)
								</td>
								<td>
									<label>URL:</label>
									@Html.TextBoxFor(model => model.lstLocations[index].Yelp.strSocialMediaLink)
								</td>
							</tr>
						</table>
					</div>
				</td>
			</tr>
			}
			<tfoot>
			</tfoot>
		</table>
	</div>

	/*
	<table >
		<tr>
			<td>
				@Html.TextBoxFor(model => model.lstLocations[index].LocationName)
			</td>
			<td>
				@Html.TextBoxFor(model => model.lstLocations[index].StreetAddress)
			</td>
		</tr>
		@if (Model.lstLocations != null) {
			for (int i = 0; i < Model.lstLocations.Length; i++) {
				<tr>
					<td>
						<button type="button">Delete</button>
						@Html.Hidden("lstLocations.Index", i)
					</td>
					<td>
						@Html.TextBoxFor(m => Model.lstLocations[i].LocationName)
					</td>
					<td>
						@Html.TextBoxFor(m => Model.lstLocations[i].StreetAddress)
					</td>
				</tr>
			}
		}
	</table>
	*/
	<br />
	<div>
		<div class="some-spacing">
			<button class="button-action" id="btnEnterLocation" name="btnSubmit" value="SubmitLocation">Submit Location(s)</button>
			<button class="button-newLocation" id="addAdditionalLocation" type="button" name="btnSubmit" value="AddLocation">Add Location(s)</button>
			<!--<button class="button-action" id="btnExtraLocation" name="btnSubmit" value="ExtraLocation">Add Another Location</button>-->
		</div>
	</div>
}

<script>
	var hidden = '@Html.Hidden("lstLocations.Index", "{id}")';
	var locLabelNameHtml = '@Html.Label("Bakery Location")';
	var locTextNameHtml = '@Html.TextBox("lstLocations[{id}].LocationName")';
	var locDonutsHtml = '@Html.CheckBox("lstLocations[{id}].Donuts", false)';

	//Labels For Variables
	var locLabelLocationNameHtml = '@Html.Label("Bakery Store Location Name")';
	var locLabelStreetAddressHtml = '@Html.Label("Street Address")';
	var locLabelCityHtml = '@Html.Label("City")';
	var locLabelStateHtml = '@Html.Label("State")';
	var locLabelZipHtml = '@Html.Label("Zip")';
	var locLabelBizPhoneHtml = '@Html.Label("Business Phone")';
	var locLabelBizEmailHtml = '@Html.Label("Business Email")';
	var locLabelDonutsHtml = '@Html.Label("Donuts")';
	var locLabelBagelsHtml = '@Html.Label("Bagels")';
	var locLabelMuffinsHtml = '@Html.Label("Muffins")';
	var locLabelIceCreamHtml = '@Html.Label("Ice Cream")';
	var locLabelFineCandiesHtml = '@Html.Label("Fine Candies & Chocolates")';
	var locLabelWeddingCakesHtml = '@Html.Label("Wedding Cakes")';
	var locLabelBreadsHtml = '@Html.Label("Breads")';
	var locLabelDecoratedCakesHtml = '@Html.Label("Decorated Cakes")';
	var locLabelCupcakesHtml = '@Html.Label("Cupcakes")';
	var locLabelCookiesHtml = '@Html.Label("Cookies")';
	var locLabelDessertsHtml = '@Html.Label("Desserts/Tortes")';
	var locLabelFullHtml = '@Html.Label("Full-line Bakery")';
	var locLabelDeliHtml = '@Html.Label("Deli/Catering")';
	var locLabelOtherHtml = '@Html.Label("Other Deli Carryout")';
	var locLabelWholeSaleHtml = '@Html.Label("Wholesale")';
	var locLabelShippingHtml = '@Html.Label("Shipping")';
	var locLabelDeliveryHtml = '@Html.Label("Delivery (3rd Party)")';
	var locLabelOnlineHtml = '@Html.Label("Online Ordering")';
	var locLabelSundayHtml = '@Html.Label("Sunday")';
	var locLabelMondayHtml = '@Html.Label("Monday")';
	var locLabelTuesdayHtml = '@Html.Label("Tuesday")';
	var locLabelWednesdayHtml = '@Html.Label("Wednesday")';
	var locLabelThursdayHtml = '@Html.Label("Thursday")';
	var locLabelFridayHtml = '@Html.Label("Friday")';
	var locLabelSaturdayHtml = '@Html.Label("Sunday")';
	var locLabelBioHtml = '@Html.Label("About us:")';
	var locLabelBizYearHtml = '@Html.Label("Year Established:")';
	var locLabelMainWebHtml = '@Html.Label("Main Website URL")';
	var locLabelOrderingWebHtml = '@Html.Label("Ordering Webpage URL")';
	var locLabelKettleWebHtml = '@Html.Label("Donation Kettle URL")';
	var locLabelFacebookHtml = '@Html.Label("Facebook")';
	var locLabelTwitterHtml = '@Html.Label("Twitter")';
	var locLabelInstagramHtml = '@Html.Label("Instagram")';
	var locLabelSnapchatHtml = '@Html.Label("Snapchat")';
	var locLabelTikTokHtml = '@Html.Label("TikTok")';
	var locLabelYelpHtml = '@Html.Label("Yelp")';
	var locLabelContactFirstHtml = '@Html.Label("Contact First Name")';
	var locLabelContactLastHtml = '@Html.Label("Contact Last Name")';
	var locLabelContactPhoneHtml = '@Html.Label("Contact Phone Number")';
	var locLabelContactEmailHtml = '@Html.Label("Contact Email")';
	var locLabelCustServFirstHtml = '@Html.Label("Customer Service First Name")';
	var locLabelCustServLastHtml = '@Html.Label("Customer Service Last Name")';
	var locLabelCustServPhoneHtml = '@Html.Label("Customer Service Phone")';
	var locLabelCustServEmailHtml = '@Html.Label("Customer Service Email")';
	var locLabelWebAdminFirstHtml = '@Html.Label("Web Admin First Name")';
	var locLabelWebAdminLastHtml = '@Html.Label("Web Admin Last Name")';
	var locLabelWebAdminPhoneHtml = '@Html.Label("Web Admin Phone")';
	var locLabelWebAdminEmailHtml = '@Html.Label("Web Admin Email")';

	//Textbox Variables
	var locTextLocationNameHtml = '@Html.TextBox("lstLocations[{id}].LocationName")';
	var locTextStreetAddressHtml = '@Html.TextBox("lstLocations[{id}].StreetAddress")';
	var locTextCityHtml = '@Html.TextBox("lstLocations[{id}].City")';
	var locTextZipHtml = '@Html.TextBox("lstLocations[{id}].Zip")';
	var locTextBizPhoneAreaHtml = '@Html.TextBox("lstLocations[{id}].BusinessPhone.AreaCode")';
	var locTextBizPhonePrefixHtml = '@Html.TextBox("lstLocations[{id}].BusinessPhone.Prefix")';
	var locTextBizPhoneSuffixHtml = '@Html.TextBox("lstLocations[{id}].BusinessPhone.Suffix")';
	var locTextBizYearHtml = '@Html.TextBox("lstLocations[{id}].BizYear")';
	var locTextBizEmailHtml = '@Html.TextBox("lstLocations[{id}].BusinessEmail")';
	var locTextContactFirstHtml = '@Html.TextBox("lstLocations[{id}].LocationContact.strContactFirstName")';
	var locTextContactLastHtml = '@Html.TextBox("lstLocations[{id}].LocationContact.strContactLastName")';
	var locTextContactPhoneAreaHtml = '@Html.TextBox("lstLocations[{id}].LocationContact.contactPhone.AreaCode")';
	var locTextContactPhonePrefixHtml = '@Html.TextBox("lstLocations[{id}].LocationContact.contactPhone.Prefix")';
	var locTextContactPhoneSuffixHtml = '@Html.TextBox("lstLocations[{id}].LocationContact.contactPhone.Suffix")';
	var locTextContactEmailHtml = '@Html.TextBox("lstLocations[{id}].LocationContact.strContactEmail")';
	var locTextCustServFirstHtml = '@Html.TextBox("lstLocations[{id}].CustService.strContactFirstName")';
	var locTextCustServLastHtml = '@Html.TextBox("lstLocations[{id}].CustService.strContactLastName")';
	var locTextCustServPhoneAreaHtml = '@Html.TextBox("lstLocations[{id}].CustService.contactPhone.AreaCode")';
	var locTextCustServPhonePrefixHtml = '@Html.TextBox("lstLocations[{id}].CustService.contactPhone.Prefix")';
	var locTextCustServPhoneSuffixHtml = '@Html.TextBox("lstLocations[{id}].CustService.contactPhone.Suffix")';
	var locTextCustServEmailHtml = '@Html.TextBox("lstLocations[{id}].CustService.strContactEmail")';
	var locTextMainURIHtml = '@Html.TextBox("lstLocations[{id}].MainWeb.strURL")';
	var locTextOrderingURIHtml = '@Html.TextBox("lstLocations[{id}].OrderingWeb.strURL")';
	var locTextKettleURIHtml = '@Html.TextBox("lstLocations[{id}].KettleWeb.strURL")';
	var locTextWebAdminFirstHtml = '@Html.TextBox("lstLocations[{id}].WebAdmin.strContactFirstName")';
	var locTextWebAdminLastHtml = '@Html.TextBox("lstLocations[{id}].WebAdmin.strContactLastName")';
	var locTextWebAdminPhoneAreaHtml = '@Html.TextBox("lstLocations[{id}].WebAdmin.contactPhone.AreaCode")';
	var locTextWebAdminPhonePrefixHtml = '@Html.TextBox("lstLocations[{id}].WebAdmin.contactPhone.Prefix")';
	var locTextWebAdminPhoneSuffixHtml = '@Html.TextBox("lstLocations[{id}].WebAdmin.contactPhone.Suffix")';
	var locTextWebAdminEmailHtml = '@Html.TextBox("lstLocations[{id}].WebAdmin.strContactEmail")';
	var locTextFacebookURIHtml = '@Html.TextBox("lstLocations[{id}].Facebook.strSocialMediaLink")';
	var locTextTwitterURIHtml = '@Html.TextBox("lstLocations[{id}].Twitter.strSocialMediaLink")';
	var locTextInstagramURIHtml = '@Html.TextBox("lstLocations[{id}].Instagram.strSocialMediaLink")';
	var locTextSnapchatURIHtml = '@Html.TextBox("lstLocations[{id}].Snapchat.strSocialMediaLink")';
	var locTextTikTokURIHtml = '@Html.TextBox("lstLocations[{id}].TikTok.strSocialMediaLink")';
	var locTextYelpURIHtml = '@Html.TextBox("lstLocations[{id}].Yelp.strSocialMediaLink")';

	//Checkbox Variables
	var locDonutsCheckHtml = '@Html.CheckBox("lstLocations[{id}].Donuts.blnAvailable", false)';
	var locBagelsCheckHtml = '@Html.CheckBox("lstLocations[{id}].Bagels.blnAvailable", false)';
	var locMuffinsCheckHtml = '@Html.CheckBox("lstLocations[{id}].Muffins.blnAvailable", false)';
	var locIceCreamCheckHtml = '@Html.CheckBox("lstLocations[{id}].IceCream.blnAvailable", false)';
	var locFineCandiesCheckHtml = '@Html.CheckBox("lstLocations[{id}].FineCandies.blnAvailable", false)';
	var locWeddingCakesCheckHtml = '@Html.CheckBox("lstLocations[{id}].WeddingCakes.blnAvailable", false)';
	var locBreadsCheckHtml = '@Html.CheckBox("lstLocations[{id}].Breads.blnAvailable", false)';
	var locDecoratedCakesCheckHtml = '@Html.CheckBox("lstLocations[{id}].DecoratedCakes.blnAvailable", false)';
	var locCupcakesCheckHtml = '@Html.CheckBox("lstLocations[{id}].Cupcakes.blnAvailable", false)';
	var locCookiesCheckHtml = '@Html.CheckBox("lstLocations[{id}].Cookies.blnAvailable", false)';
	var locDessertsCheckHtml = '@Html.CheckBox("lstLocations[{id}].Desserts.blnAvailable", false)';
	var locFullCheckHtml = '@Html.CheckBox("lstLocations[{id}].Full.blnAvailable", false)';
	var locDeliCheckHtml = '@Html.CheckBox("lstLocations[{id}].Deli.blnAvailable", false)';
	var locOtherCheckHtml = '@Html.CheckBox("lstLocations[{id}].Other.blnAvailable", false)';
	var locWholesaleCheckHtml = '@Html.CheckBox("lstLocations[{id}].Wholesale.blnAvailable", false)';
	var locDeliveryCheckHtml = '@Html.CheckBox("lstLocations[{id}].Delivery.blnAvailable", false)';
	var locShippingCheckHtml = '@Html.CheckBox("lstLocations[{id}].Shipping.blnAvailable", false)';
	var locOnlineCheckHtml = '@Html.CheckBox("lstLocations[{id}].Online.blnAvailable", false)';
	var locFacebookCheckHtml = '@Html.CheckBox("lstLocations[{id}].Facebook.blnAvailable", false)';
	var locTwitterCheckHtml = '@Html.CheckBox("lstLocations[{id}].Twitter.blnAvailable", false)';
	var locInstagramCheckHtml = '@Html.CheckBox("lstLocations[{id}].Instagram.blnAvailable", false)';
	var locSnapchatCheckHtml = '@Html.CheckBox("lstLocations[{id}].Snapchat.blnAvailable", false)';
	var locTikTokCheckHtml = '@Html.CheckBox("lstLocations[{id}].TikTok.blnAvailable", false)';
	var locYelpCheckHtml = '@Html.CheckBox("lstLocations[{id}].Yelp.blnAvailable", false)';
	var locSundayCheckHtml = '@Html.CheckBox("lstLocations[{id}].Sunday.blnOperational")';
	var locMondayCheckHtml = '@Html.CheckBox("lstLocations[{id}].Monday.blnOperational", false)';
	var locTuesdayCheckHtml = '@Html.CheckBox("lstLocations[{id}].Tuesday.blnOperational")';
	var locWednesdayCheckHtml = '@Html.CheckBox("lstLocations[{id}].Wednesday.blnOperational")';
	var locThursdayCheckHtml = '@Html.CheckBox("lstLocations[{id}].Thursday.blnOperational")';
	var locFridayCheckHtml = '@Html.CheckBox("lstLocations[{id}].Friday.blnOperational")';
	var locSaturdayCheckHtml = '@Html.CheckBox("lstLocations[{id}].Saturday.blnOperational")';



	//var streetAddressHtml = 'Html.DropDownList("lstLocations[{id}].StreetAddress")';
	//var compListLabelHtml = 'Html.Label("lstLocations[{id}].lngCompanyID")';

	let buttonAddLocation = document.querySelector(".button-newLocation");
	let CountButtonClicks = 0;

	buttonAddLocation.addEventListener("click", function () {
		CountButtonClicks += 1;
		console.log(CountButtonClicks);
	});

	$("#addAdditionalLocation").on("click", function () {
		//var time = Date.now();

		var index = CountButtonClicks;

		var deleteHtml = "<button type='button'>Delete</button>";

		$(".mainTable").after($("</br><table class='center'>" +
			'<tr><td>' + hidden.replace('{id}', index) + deleteHtml + '</td>' +
			"<tr><td><div><strong>" + locLabelLocationNameHtml + '*</strong></div><div>' + locTextLocationNameHtml.replace('{id}', index) + '</div></td></tr>' +
			"<tr><td><div><strong>" + locLabelStreetAddressHtml + '*</strong></div><div>' + locTextStreetAddressHtml.replace('{id}', index) + '</div></td></tr>' +
			"<tr><td><div><strong>" + locLabelCityHtml + '*</strong></div><div>' + locTextCityHtml.replace('{id}', index) + '</div></td></tr>' +
			'<tr><td><div><strong>' + locLabelStateHtml + '*</strong></div><div>' +
			'<select class= "form-control" id = "State" name = "lstLocations[' + index + '].intState" > ' +
			'<option> Select State</option>' +
			'<option value="1">Indiana</option>' +
			'<option value="2">Kentucky</option>' +
			'<option value="3">Ohio</option>' +
			'</select></div>' +
			"<tr><td><div><strong>" + locLabelZipHtml + '*</strong></div><div>' + locTextZipHtml.replace('{id}', index) + '</div></td></tr>' +
			"<tr><td><div class='some-spacing'><div><h5 id='label'><strong> Specialty Product Categories* </strong></h5><table class='center'>" +
			"<tr><td>" + locDonutsCheckHtml.replace('{id}', index) + "</td><td>" + locLabelDonutsHtml + "</td>" +
			"<td>" + locBagelsCheckHtml.replace('{id}', index) + "</td><td>" + locLabelBagelsHtml + "</td>" +
			"<td>" + locMuffinsCheckHtml.replace('{id}', index) + "</td><td>" + locLabelMuffinsHtml + "</td>" +
			"<td>" + locIceCreamCheckHtml.replace('{id}', index) + "</td><td>" + locLabelIceCreamHtml + "</td>" +
			"<td>" + locFineCandiesCheckHtml.replace('{id}', index) + "</td><td>" + locLabelFineCandiesHtml + "</td>" +
			"<td>" + locWeddingCakesCheckHtml.replace('{id}', index) + "</td><td>" + locLabelWeddingCakesHtml + "</td></tr>" +
			"<tr><td>" + locBreadsCheckHtml.replace('{id}', index) + "</td><td>" + locLabelBreadsHtml + "</td>" +
			"<td>" + locDecoratedCakesCheckHtml.replace('{id}', index) + "</td><td>" + locLabelDecoratedCakesHtml + "</td>" +
			"<td>" + locCupcakesCheckHtml.replace('{id}', index) + "</td><td>" + locLabelCupcakesHtml + "</td>" +
			"<td>" + locCookiesCheckHtml.replace('{id}', index) + "</td><td>" + locLabelCookiesHtml + "</td>" +
			"<td>" + locDessertsCheckHtml.replace('{id}', index) + "</td><td>" + locLabelDessertsHtml + "</td>" +
			"<td>" + locFullCheckHtml.replace('{id}', index) + "</td><td>" + locLabelFullHtml + "</td></tr>" +
			"<tr><td>" + locDeliCheckHtml.replace('{id}', index) + "</td><td>" + locLabelDeliHtml + "</td>" +
			"<td>" + locOtherCheckHtml.replace('{id}', index) + "</td><td>" + locLabelOtherHtml + "</td>" +
			"<td>" + locWholesaleCheckHtml.replace('{id}', index) + "</td><td>" + locLabelWholeSaleHtml + "</td>" +
			"<td>" + locDeliveryCheckHtml.replace('{id}', index) + "</td><td>" + locLabelDeliveryHtml + "</td>" +
			"<td>" + locShippingCheckHtml.replace('{id}', index) + "</td><td>" + locLabelShippingHtml + "</td>" +
			"<td>" + locOnlineCheckHtml.replace('{id}', index) + "</td><td>" + locLabelOnlineHtml + "</td></tr>" +
			"</table></div></div></td></tr>" +
			'<tr><td><div class="some-spacing"><h5 id="label">Hours of Operation</h5><table class="center"><tr style="text-align:center">' +
			'<td><b>Days</b></td>' +
			'<td style="text-align: center"><b>(Check if Open)</b></td>' +
			'<td style="text-align: center"><b>Start Time</b></td>' +
			'<td style="text-align: center"><b>End Time</b></td></tr>' +
			'<tr><td>' + locLabelSundayHtml + '</td><td style="text-align: center">' + locSundayCheckHtml.replace('{id}', index) + '</td><td>' +
			'<input name="lstLocations[' + index + '].Sunday.strOpenTime" type="time" value="">' + '</td><td>' +
			'<input name="lstLocations[' + index + '].Sunday.strClosedTime" type="time" value="">' + '</td><td>' +
			'<tr><td>' + locLabelMondayHtml + '</td><td style="text-align: center">' + locMondayCheckHtml.replace('{id}', index) + '</td><td>' +
			'<input name="lstLocations[' + index + '].Monday.strOpenTime" type="time" value="">' + '</td><td>' +
			'<input name="lstLocations[' + index + '].Monday.strClosedTime" type="time" value="">' + '</td><td>' +
			'<tr><td>' + locLabelTuesdayHtml + '</td><td style="text-align: center">' + locTuesdayCheckHtml.replace('{id}', index) + '</td><td>' +
			'<input name="lstLocations[' + index + '].Tuesday.strOpenTime" type="time" value="">' + '</td><td>' +
			'<input name="lstLocations[' + index + '].Tuesday.strClosedTime" type="time" value="">' + '</td><td>' +
			'<tr><td>' + locLabelWednesdayHtml + '</td><td style="text-align: center">' + locWednesdayCheckHtml.replace('{id}', index) + '</td><td>' +
			'<input name="lstLocations[' + index + '].Wednesday.strOpenTime" type="time" value="">' + '</td><td>' +
			'<input name="lstLocations[' + index + '].Wednesday.strClosedTime" type="time" value="">' + '</td><td>' +
			'<tr><td>' + locLabelThursdayHtml + '</td><td style="text-align: center">' + locThursdayCheckHtml.replace('{id}', index) + '</td><td>' +
			'<input name="lstLocations[' + index + '].Thursday.strOpenTime" type="time" value="">' + '</td><td>' +
			'<input name="lstLocations[' + index + '].Thursday.strClosedTime" type="time" value="">' + '</td><td>' +
			'<tr><td>' + locLabelFridayHtml + '</td><td style="text-align: center">' + locFridayCheckHtml.replace('{id}', index) + '</td><td>' +
			'<input name="lstLocations[' + index + '].Friday.strOpenTime" type="time" value="">' + '</td><td>' +
			'<input name="lstLocations[' + index + '].Friday.strClosedTime" type="time" value="">' + '</td><td>' +
			'<tr><td>' + locLabelSaturdayHtml + '</td><td style="text-align: center">' + locSaturdayCheckHtml.replace('{id}', index) + '</td><td>' +
			'<input name="lstLocations[' + index + '].Saturday.strOpenTime" type="time" value="">' + '</td><td>' +
			'<input name="lstLocations[' + index + '].Saturday.strClosedTime" type="time" value="">' + '</td><td>' +
			'</table></div></td></tr>' +
			'<tr><td><div><div><div id="label">' + locLabelBizPhoneHtml + '</div>' +
			'<div>(' + locTextBizPhoneAreaHtml.replace('{id}', index) + ') ' + locTextBizPhonePrefixHtml.replace('{id}', index) + '-' + locTextBizPhoneSuffixHtml.replace('{id}', index) + '</div>' +
			'<div><div id="label">' + locLabelBizEmailHtml + '</div><div>' + locTextBizEmailHtml.replace('{id}', index) + '</div></div></td></tr>' +
			'<tr><td><div><div class="some-spacing"><div id="label">' + locLabelBizYearHtml + '</div>' + locTextBizYearHtml.replace('{id}', index) + '</div>' +
			'<div class="some-spacing"><div id="label">' + locLabelBioHtml + '</div><div>' + '<textarea cols="20" name="lstLocations[' + index + '].Bio" rows="5" spellcheck="true" style="width: 500px;"></textarea>' + '</div></div ></td ></tr>' +
			'<tr><td><div>' +
			'<div class="some-spacing"><div id="label">' + locLabelContactFirstHtml + '</div><div>' + locTextContactFirstHtml.replace('{id}', index) + '</div></div>' +
			'<div class="some-spacing"><div id="label">' + locLabelContactLastHtml + '</div><div>' + locTextContactLastHtml.replace('{id}', index) + '</div></div>' +
			'<div class="some-spacing"><div id="label">' + locLabelContactPhoneHtml + '</div>' +
			'<div class="some-spacing">(' + locTextContactPhoneAreaHtml.replace('{id}', index) + ') ' + locTextContactPhonePrefixHtml.replace('{id}', index) + '-' + locTextContactPhoneSuffixHtml.replace('{id}', index) + '</div>' +
			'<div class="some-spacing"><div id="label">' + locLabelContactEmailHtml + '</div><div>' + locTextContactEmailHtml.replace('{id}', index) + '</div></div>' +
			'<div class="some-spacing"><div id="label">' + locLabelCustServFirstHtml + '</div><div>' + locTextCustServFirstHtml.replace('{id}', index) + '</div></div>' +
			'<div class="some-spacing"><div id="label">' + locLabelCustServLastHtml + '</div><div>' + locTextCustServLastHtml.replace('{id}', index) + '</div></div>' +
			'<div class="some-spacing"><div id="label">' + locLabelCustServPhoneHtml + '</div>' +
			'<div class="some-spacing">(' + locTextCustServPhoneAreaHtml.replace('{id}', index) + ') ' + locTextCustServPhonePrefixHtml.replace('{id}', index) + '-' + locTextCustServPhoneSuffixHtml.replace('{id}', index) + '</div>' +
			'<div class="some-spacing"><div id="label">' + locLabelCustServEmailHtml + '</div><div>' + locTextCustServEmailHtml.replace('{id}', index) + '</div></div>' +

			'<div class="some-spacing"><div id="label">' + locLabelMainWebHtml + '</div><div>' + locTextMainURIHtml.replace('{id}', index) + '</div></div>' +
			'<div class="some-spacing"><div id="label">' + locLabelOrderingWebHtml + '</div><div>' + locTextOrderingURIHtml.replace('{id}', index) + '</div></div>' +
			'<div class="some-spacing"><div id="label">' + locLabelKettleWebHtml + '</div><div>' + locTextKettleURIHtml.replace('{id}', index) + '</div></div>' +

			'<div class="some-spacing"><div id="label">' + locLabelWebAdminFirstHtml + '</div><div>' + locTextWebAdminFirstHtml.replace('{id}', index) + '</div></div>' +
			'<div class="some-spacing"><div id="label">' + locLabelWebAdminLastHtml + '</div><div>' + locTextWebAdminLastHtml.replace('{id}', index) + '</div></div>' +
			'<div class="some-spacing"><div id="label">' + locLabelWebAdminPhoneHtml + '</div>' +
			'<div class="some-spacing">(' + locTextWebAdminPhoneAreaHtml.replace('{id}', index) + ') ' + locTextWebAdminPhonePrefixHtml.replace('{id}', index) + '-' + locTextWebAdminPhoneSuffixHtml.replace('{id}', index) + '</div>' +
			'<div class="some-spacing"><div id="label">' + locLabelWebAdminEmailHtml + '</div><div>' + locTextWebAdminEmailHtml.replace('{id}', index) + '</div></div>' +
			'</div></td></tr>' +
			'<tr><td><div class="some-spacing"><h5><strong>Social Media Outlets</strong></h5>' +
			'<table class="center">' +
			'<tr><td><b>Platform</b></td><td><b>(Check to Include)</b></td><td style="text-align: center"><b>Link</b></td>' +
			'<tr><td>' + locLabelFacebookHtml + '</td><td style="text-align: center">' + locFacebookCheckHtml.replace('{id}', index) + '</td><td><label>URL: </label>' + locTextFacebookURIHtml.replace('{id}', index) + '</td></tr>' +
			'<tr><td>' + locLabelTwitterHtml + '</td><td style="text-align: center">' + locTwitterCheckHtml.replace('{id}', index) + '</td><td><label>URL: </label>' + locTextTwitterURIHtml.replace('{id}', index) + '</td></tr>' +
			'<tr><td>' + locLabelInstagramHtml + '</td><td style="text-align: center">' + locInstagramCheckHtml.replace('{id}', index) + '</td><td><label>URL: </label>' + locTextInstagramURIHtml.replace('{id}', index) + '</td></tr>' +
			'<tr><td>' + locLabelSnapchatHtml + '</td><td style="text-align: center">' + locSnapchatCheckHtml.replace('{id}', index) + '</td><td><label>URL: </label>' + locTextSnapchatURIHtml.replace('{id}', index) + '</td></tr>' +
			'<tr><td>' + locLabelTikTokHtml + '</td><td style="text-align: center">' + locTikTokCheckHtml.replace('{id}', index) + '</td><td><label>URL: </label>' + locTextTikTokURIHtml.replace('{id}', index) + '</td></tr>' +
			'<tr><td>' + locLabelYelpHtml + '</td><td style="text-align: center">' + locYelpCheckHtml.replace('{id}', index) + '</td><td><label>URL: </label>' + locTextYelpURIHtml.replace('{id}', index) + '</td></tr>' +
			'</table></div></td></tr></table></div>' +
			'<br/>'));

	});
</script>



