@model GCRBA.Models.User
@{
    ViewBag.Title = "New GCRBA Member Form";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(FormMethod.Post))
{

<div class="section">
    <!-- Member First Name -->
    <div>
        <div>@Html.Label("First Name")</div>
        <div>@Html.TextBoxFor(model => model.FirstName, new { @autofocus = "autofocus" })</div>
    </div>
    <!-- Member Last Name -->
    <div>
        <div>@Html.Label("Last Name")</div>
        <div>@Html.TextBoxFor(model => model.LastName)</div>
    </div>

    <!-- Email -->
    <div>
        <div>@Html.Label("E-mail")</div>
        <div>@Html.TextBoxFor(model => model.Email)</div>
    </div>


    <!-- Membership Type -->
    <div class="section">
        <div>@Html.Label("Membership Type")</div>
        <div class="some-spacing">
            @Html.RadioButtonFor(model => model.MemberShipType, "A", false)@Html.Label("A - $10")
            @Html.RadioButtonFor(model => model.MemberShipType, "B", false)@Html.Label("B - $20")
            @Html.RadioButtonFor(model => model.MemberShipType, "C", false)@Html.Label("C - $100")
        </div>
    </div>
    <!-- payment type -->
    <div class="some-spacing">
        @Html.RadioButtonFor(model => model.PaymentType, "A", false)@Html.Label("Zelle")
        @Html.RadioButtonFor(model => model.PaymentType, "B", false)@Html.Label("Check")
    </div>
</div>

    <div>
        <button id="btnSignUp" name="btnSubmit" value="submit" class="button-action"><i class="fas fa-user-plus"></i> Submit </button>
    </div>
}



