@using GCRBA.ViewModels
@model EditCompaniesViewModel

<div id="locations">
    <label for="locations" class="form-label">Locations</label>
    <select name="locations" class="form-control">
        <option value="choose" disabled>Choose Location</option>
        @foreach (var item in Model.Locations)
        {
            <option value="@item.LocationID">@item.Address @item.City, @item.State @item.Zip</option>
        }
    </select>
</div>
