@using GCRBA.ViewModels
@model AdminVM

@if (Model.User.isAdmin == 0)
{
	@Html.Partial("AdminOnly");
} else
{
	if (Model.MemberRequest.ActionType == GCRBA.Models.MemberRequest.ActionTypes.InsertSuccessful)
	{
		@Html.Partial("UpdateSuccessful");
	}

	if (Model.MemberRequest.ActionType == GCRBA.Models.MemberRequest.ActionTypes.DeleteSuccessful)
	{
		@Html.Partial("DeleteSuccessful");
	}

	if (Model.MemberRequests.Count > 0)
	{
		using (Html.BeginForm(null, null, null, FormMethod.Post, new { @class = "col-md-12" }))
		{
			<h2 class="mt-4">Membership Requests</h2>
			<div class="row justify-content-center">
				<select name="requests" class="form-control w-25 text-center mt-4 mb-4">
					@foreach (var request in Model.MemberRequests)
					{
						<option value="@request.MemberID">@request.FirstName @request.LastName</option>
					}
				</select>
			</div>
			<button name="btnSubmit" value="viewRequest" class="btn btn-primary">View Request</button>

			if (Model.MemberRequest != null)
			{
				if (Model.MemberRequest.MemberID > 0)
				{
					<table class="table bg-white my-3">
						<thead>
							<tr>
								<th scope="col" class="text-center">Name</th>
								<th scope="col" class="text-center">Phone Number</th>
								<th scope="col" class="text-center">Email</th>
								<th scope="col" class="text-center">Member Level</th>
								<th scope="col" class="text-center">Payment Type</th>
								<th scope="col" class="text-center">Payment Status</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="text-center">@Model.MemberRequest.FirstName @Model.MemberRequest.LastName</td>
								<td class="text-center">@Model.MemberRequest.Phone</td>
								<td class="text-center">@Model.MemberRequest.Email</td>
								<td class="text-center">@Model.MemberRequest.MemberLevel</td>
								<td class="text-center">@Model.MemberRequest.PaymentType</td>
								<td class="text-center">@Model.MemberRequest.PaymentStatus</td>
							</tr>
						</tbody>
					</table>

					<button name="btnSubmit" value="approve" class="btn btn-primary">Approve</button>
					<button name="btnSubmit" value="deny" class="btn btn-primary">Deny</button>
				}
			}
		}

	} else
	{
		<p>There are currently no membership requests.</p>
	}
}
